anyio==3.6.2
asgi-logger==0.1.0
asgiref==3.6.0
astroid==2.13.2
Brotli==1.0.9
certifi==2022.12.7
click==8.1.3
dill==0.3.6
elasticsearch==7.17.0
fastapi==0.89.1
ffmpeg==1.4
h11==0.14.0
idna==3.4
isort==5.11.4
lazy-object-proxy==1.9.0
mccabe==0.7.0
mutagen==1.46.0
platformdirs==2.6.2
psutil==5.9.4
pycryptodomex==3.16.0
pydantic==1.10.4
pylint==2.15.10
sniffio==1.3.0
starlette==0.22.0
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.4.0
urllib3==1.26.14
uvicorn==0.20.0
websockets==10.4
wrapt==1.14.1
yt-dlp==2023.1.6
