[Unit]
Description=Service
#After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/karan/projects/dirlist-api
ExecStart=/home/karan/projects/dirlist-api/venv/bin/python3 /home/karan/projects/dirlist-api/start.py
ExecReload=/bin/kill -HUP
User=karan
Group=karan

Restart=always
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=multi-user.target

#sudo mv . /lib/systemd/system/
#sudo sysmtemctl enable dirlist.py
#sudo sysmtemctl start dirlist.py
#sudo sysmtemctl status dirlist.py