[Unit]
Description=Dirist-Api Service
#After=multi-user.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/karan/projects/dirlist-api
ExecStart=/home/karan/projects/dirlist-api/venv/bin/python3 /home/karan/projects/dirlist-api/start.py
ExecReload=/bin/kill -HUP
User=karan
Group=karan

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dirlist-api

Restart=always
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=multi-user.target

# sudo cp service/dirlist-api.service /lib/systemd/system/
# sudo systemctl daemon-reload
# sudo sysmtemctl enable dirlist.py
# sudo sysmtemctl start dirlist.py
# sudo sysmtemctl status dirlist.py